body {
    margin: 0;
    height: 100vh;
    background-color: #000;
    color: #FFF;
    font-family: 'Press Start 2P', sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page {
    text-align: center;
}

#game {
    margin: 0 auto;
}

.gameContainer {
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch;
    position: relative;
}

.infosContainer {
    display: flex;
    height: 10vh;
}

.livesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-height: 100%;
    flex-basis: 30%;
}

.playerImg {
    height: 0.7rem;
}

.livesContainer * {
    margin: 0.1em 0.5em;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.powerupsContainer {
    flex-basis: 70%;
    display: flex;
    flex-wrap: wrap;
}

.powerup-img {
    height: 1rem;
    image-rendering: crisp-edges;
}

.powerup-loader {
    width: 100px;
    height: 10px;
    background-color: rgba(255,255,255, 0.2);
}

.powerup-loadbar {
    width: 0;
    background-color: yellow;
    height: 100%;
}

.powerup {
    margin: 0.5em 1em;
}



/* TEXT */
.textContainer {
    display: block;
    position: absolute;
    margin: 50% 3em 0;
    transform: translateY(-50%);
    width: calc(100% - 6rem);
}

.textContainer > * {
    display: none;
    line-height: 25px;
}

.logo {
    max-width: 70%;
}

.specialText {
    color: gold;
    margin-top: 3em;
}
